$layout-max-width: 1100px;

.container {
    max-width: $layout-max-width;
    margin: 0 auto;

    @include mq-down() {
        width: 90%;
    }

    @include mq-down(lg) {
        width: 90%;
    }

    @include mq-down(sm) {
        width: 100%;
    }
}