.scroll {
    font-family: $ff-en;
    font-size: 12px;
    position: absolute;
    top: 72%;
    left: -13%;
    z-index: 3;
    width: 178.5px;
    display: flex;
    align-items: center;
    transform:rotate(90deg);

    &::before {
        border: .03rem solid #ffffff;
        content: "";
        width: 118px;
        margin-bottom: 0px;
        margin-left: 15.5px;
        transform:rotate(0deg);
    }
}