.contact {
    position: relative;
    width: 100vw;
    height: 570px;
    background-color: #F0F0F0;
    margin: 0 calc(50% - 50vw);
    padding: 60px 0 120px 0;

    @include mq-down() {
        height: 747px;
    }

    &__cards {
        display: flex;

        @include mq-down() {
            display: block;
            padding: 0 10px;
        }
    }

    &__card {
        width: calc(50% - 30px / 2);
        margin: 0 auto;

        &:nth-child(1n) {
            margin-left: 0;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }

        @include mq-down() {
            width: 70%;
        }

        @include mq-down(sm) {
            width: 90%;
        }
    }

    &__title {
        font-family: $ff-en;
        font-size: 32px;
        padding-bottom: 30px;

        @include mq-down() {
            padding: 30px 0;
        }

        @include mq-down(sm) {
            font-size: 28px;
        }
    }

    &__text {
        font-family: $ff-ja;
        font-size: 16px;
        line-height: 32px;
        width: 78%;
        padding: 30px 0;
    }

    &__btn {
        @include mq-down() {
            padding-bottom: 30px;
        }
    }

    &__img {
        position: relative;
        display: inline-block;
        width: 100%;

        &::before {
            background: rgba(0, 0, 0, 0.3);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        img {
            display: block;
            height: 390px;

            @include mq-down() {
                height: 290px;
            }

            @include mq-down(sm) {
                height: 240px;
            }
        }
    }
}